<div ng-include="'components/navbar/navbar.html'"></div>


<div layout="column" layout-align="center center">

    <div class="md-whiteframe-z2 login-form">
    <!-- @TODO(Shrugs) error and validation porting -->
        <div><h3>Login</h3></div>
        <div>
            <form class="form" name="form" ng-submit="login(form)" novalidate>
                <md-text-float name="email" label="Email" ng-model="user.email" type="email" required></md-text-float>
                <md-text-float label="Password" ng-model="user.password" type="password" required></md-text-float>
                <div>
                    <md-button type="submit">Login</md-button>
                </div>
            </form>

        </div>
    </div>
</div>