.main-cont {
    min-height: 600px;
}

body {
    background-image: url("/assets/images/citysky.jpg");
    background-size: 100% 100%;
}

.cpw-cont {
    height: 300px;
//     background-color: #10579B;
}

.cta-btn {
    font-size: 3em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.main-divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.center-cont {
    // margin-top: -300px;
}

.matches-cont {
    height: 700px;
    overflow-y: auto;
}

.plus-sign {
    font-size: 3em;
    color: #FFFFFF;
}