<div flex ng-style="{height: height}">
    <div flex class="main-cont" ng-style="{height: height}">
        <div ng-include="'components/navbar/navbar.html'"></div>
        <div flex layout="column" layout-align="center center" ng-style="{height: height-64}">
            <div flex class="center-cont">
                <div layout="column" layout-align="center center">
                    <md-button class="cta-btn" ng-click="generate1plus1s()">Generate 1+1</md-button>
                    <md-checkbox ng-model="pairOutsideTeam">Pair Loners?</md-checkbox>
                </div>
                <div layout="column" layout-align="center center">
                    <md-divider flex="80" class="main-divider"></md-divider>
                </div>
                <div layout="column" layout-align="center center" ng-hide="pairs">
                    <user-card email="{{getCurrentUser().email}}"></user-card>
                </div>
                <div flex class="matches-cont" ng-show="pairs">
                    <div layout="column" layout-align="center center" ng-repeat="match in pairs">
                        <user-card email="{{match.people[0]}}"></user-card>
                        <div class="plus-sign">+</div>
                        <user-card email="{{match.people[1]}}"></user-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>